MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.NonAccreditation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.NonAccreditation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.NonAccreditationCompetency" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd10" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Enumerations" />
  <xs:complexType name="NonAccreditationView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowTitleName" type="xs:boolean" />
      <xs:element minOccurs="0" name="AustswimCertificate_TemplateID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="AustswimLicense_TemplateID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" type="ser:guid" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LetterTemplateID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.NonAccreditationCompetency" minOccurs="0" name="NonAccreditationCompetencyViewList" nillable="true" type="q1:ArrayOfNonAccreditationCompetencyView" />
      <xs:element minOccurs="0" name="Prerequisite_NonAccreditationID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="PresenterNonAccreditation" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PresenterRequirementIDs" nillable="true" type="q2:ArrayOfguid" />
      <xs:element minOccurs="0" name="PrintAustswimCertificate" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrintAustswimLicense" type="xs:boolean" />
      <xs:element minOccurs="0" name="PrintRTOCertificate" type="xs:boolean" />
      <xs:element minOccurs="0" name="RTOCertificate_TemplateID" nillable="true" type="ser:guid" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Enumerations" minOccurs="0" name="Status" type="q3:NonAccreditationStatusEnum" />
      <xs:element minOccurs="0" name="Supersede_NonAccreditationID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonAccreditationView" nillable="true" type="tns:NonAccreditationView" />
</xs:schema>