MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRoleControlPermission" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRoleControlPermission" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSecurityRoleControlPermissionView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityRoleControlPermissionView" nillable="true" type="tns:SecurityRoleControlPermissionView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityRoleControlPermissionView" nillable="true" type="tns:ArrayOfSecurityRoleControlPermissionView" />
  <xs:complexType name="SecurityRoleControlPermissionView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ControlName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InternalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SecurityRolePermissionID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityRoleControlPermissionView" nillable="true" type="tns:SecurityRoleControlPermissionView" />
</xs:schema>