MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRolePermission" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRolePermission" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Enumerations" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRoleControlPermission" />
  <xs:complexType name="ArrayOfSecurityRolePermissionView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityRolePermissionView" nillable="true" type="tns:SecurityRolePermissionView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityRolePermissionView" nillable="true" type="tns:ArrayOfSecurityRolePermissionView" />
  <xs:complexType name="SecurityRolePermissionView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InternalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Enumerations" minOccurs="0" name="Permission" type="q1:PermissionEnum" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRoleControlPermission" minOccurs="0" name="SecurityRoleControlPermissionViewList" nillable="true" type="q2:ArrayOfSecurityRoleControlPermissionView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityRolePermissionView" nillable="true" type="tns:SecurityRolePermissionView" />
</xs:schema>