MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.ContactNonAccreditation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.ContactNonAccreditation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.NonAccreditation" />
  <xs:complexType name="ArrayOfContactNonAccreditationView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactNonAccreditationView" nillable="true" type="tns:ContactNonAccreditationView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactNonAccreditationView" nillable="true" type="tns:ArrayOfContactNonAccreditationView" />
  <xs:complexType name="ContactNonAccreditationView">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.NonAccreditation" base="q1:NonAccreditationView">
        <xs:sequence>
          <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContactID" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactNonAccreditationView" nillable="true" type="tns:ContactNonAccreditationView" />
</xs:schema>