MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Competency" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Competency" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCompetencyView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompetencyView" nillable="true" type="tns:CompetencyView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetencyView" nillable="true" type="tns:ArrayOfCompetencyView" />
  <xs:complexType name="CompetencyView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompetencyView" nillable="true" type="tns:CompetencyView" />
</xs:schema>