MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.ContactActivity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.ContactActivity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.Model.Enumerations" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Administrator" />
  <xs:complexType name="ArrayOfContactActivityView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactActivityView" nillable="true" type="tns:ContactActivityView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactActivityView" nillable="true" type="tns:ArrayOfContactActivityView" />
  <xs:complexType name="ContactActivityView">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Austswim.Orams.Model.Enumerations" minOccurs="0" name="Activity" type="q1:ContactActivityEnum" />
      <xs:element minOccurs="0" name="AuthorID" type="ser:guid" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.Administrator" minOccurs="0" name="AuthorView" nillable="true" type="q2:AdministratorView" />
      <xs:element minOccurs="0" name="ContactID" type="ser:guid" />
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactActivityView" nillable="true" type="tns:ContactActivityView" />
</xs:schema>