MoodleServiceTest/MoodleServiceTest/Service References/MembershipService/MembershipUserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://orams.austswim.com.au:98/MembershipUserService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRolePermission" />
  <xs:complexType name="ArrayOfSecurityRoleView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecurityRoleView" nillable="true" type="tns:SecurityRoleView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecurityRoleView" nillable="true" type="tns:ArrayOfSecurityRoleView" />
  <xs:complexType name="SecurityRoleView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsSuperUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Austswim.Orams.DataContract.Views.SecurityRolePermission" minOccurs="0" name="SecurityRolePermissionViewList" nillable="true" type="q1:ArrayOfSecurityRolePermissionView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecurityRoleView" nillable="true" type="tns:SecurityRoleView" />
</xs:schema>